@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ÁgiliFood</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ÁgiliFood</h2>
        <p>
            ÁgiliFood é uma aplicação para solicitar pedidos para fornecedores cadastrados.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ágili</h2>
        <p>A Ágili Software Brasil desenvolve soluções eficazes que dão suporte para a gestão dos municípios, criando soluções de qualidade para que os gestores possam exercer uma gestão responsável,  pró-ativa e moderna, melhorando assim a qualidade de vida da população.</p>
        <p><a class="btn btn-default" href="http://www.agili.com.br/Empresa/Sobre-a-Agili">Conheça a empresa &raquo;</a></p>
    </div>

</div>